@{
    ViewData["Title"] = "Home";
}

<partial name="CarouselPartial" />
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Wellcome </h1>
        <p class="lead">If you want to manage all tasks of your company, you are in the right place. We offer more lorem ipsum than you can find in any other place</p>
        <hr class="my-4">
        <p>To start use of our product just sign up, create organization profile and manage your tasks.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" role="button" asp-controller="user" asp-action="signup">Sign up</a>

        </p>
    </div>
</div>